<div>
  <div class="post">
    <h1>{{blog-name}} Index</h1>

    {{#rss-url}}
    <p><b><a href="{{site-url}}/{{nav-url}}/{{rss-url}}">RSS Feed</a></b></p>
    {{/rss-url}}

		{{#content}}
		<div>
		  {{{content}}}
		</div>
		{{/content}}

		<table>
      {{#posts}}
			<tr>
			  <td>{{creation}}</td>
				<td><a href="{{site-url}}/{{blog-url}}/{{nav-url}}">{{title}}</a></td>
			</tr>
      {{/posts}}
    </table>

  </div>
</div>
