  <head>
    {{#title}}
    <title>{{title}}</title>
    {{/title}}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="author" content="{{author}}" />
    {{#description}}
    <meta name="description" content="{{description}}" />
    {{/description}}
    {{#keywords}}
    <meta name="keywords" content="{{keywords}}" />
    {{/keywords}}
    {{#stylesheet-list}}
    <link rel="stylesheet" href="{{site-url}}/{{stylesheet}}" type="text/css">
    {{/stylesheet-list}}
  </head>